<suite name="AutomationSuite" parallel="classes" thread-count="5">
    <listeners>
        <listener class-name="listeners.ExtentReportListener"/>
    </listeners>

    <test name="All Tests">
        <classes>
            <class name="testcases.RegisterTestCase"/>
            <class name="testcases.LoginTest"/>
            <class name="testcases.ContactUsTest"/>
            <class name="testcases.LogOutTest"/>
            <class name="testcases.ValidateTestCasesPages"/>
        </classes>
    </test>
</suite>
